// 主题颜色
$themecolor = #409EFF

$header-bg = black // 导航栏背景颜色
$header-username-font = Arial // 导航栏用户名字体

// 字体
$carousel-text-font = STXingkai // 轮播图介绍字体
$label-font = STZhongsong // 个人信息 label 字体

$main-title = STZhongsong // 用于主标题
$side-title = SimHei // 用于副标题

$main-text = Yuanti SC // 用于主正文
$side-text = STXinwei // 用于副正文



// viewport 断点设置
$view-small = 600px
$view-small-x = 800px
